/* Reset some default styles */
body, h1, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

div {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}
div:hover{
    box-shadow: 0 0 25px black;
}

h3 {
    color: #007BFF;
    font-size: 1.2em;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: black;
}

/* Alternating background color for the FAQ sections */
.even {
    background-color: #e9ecef;
}

.odd {
    background-color: #fff;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    div {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.1em;
    }
}
